  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-white">
      <a class="navbar-brand navbar-left" href="#"><span class="top-link"><img src = "/creatter_logo_small.png" class="creatter-logo"></span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <img class="menu-icon" src="/menu-icon.png">
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active index-link text-center">
              <a class="nav-link navbar-right" href="#"><span class="top-link">サービス一覧</span> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active mypage-link text-center">
              <a class="nav-link" href="#"><span class="top-link">マイページ</span></a>
            </li>
            <li class="nav-item active post-link text-center">
              <a class="nav-link" href="#"><span class="top-link">投稿する</span></a>
            </li>
            <li class="nav-item active post-link text-center">
              <a class="nav-link" href="#"><span class="top-link">お問い合わせ</span></a>
            </li>
            <li class="nav-item active post-link text-center">
              <a class="nav-link" href="#"><span class="top-link">プライバシーポリシー</span></a>
            </li>
        </ul>
      </div>
    </nav>
  </header>


    <div class="jumbotron text-center">
      <h1>Creatter</h1>
      <p class="about-creatter">Creatterは「何かアプリを作ってみた。」や、「ビジネスモデルを考えてみた」というようなサービスを作る人達の為のSNSです。</p>
      <p><a class="btn btn-info btn-lg" href="#" role="button">Twitterで新規登録/ログインする</a></p>
      <p><a class="btn btn-success btn-lg" href="#" role="button">Creatterで新規登録する</a></p>
      <u><a href="#">ログインする</a></u>
    </div>


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing text-center">
      <u><h2>何ができるのか</h2></u>
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="/good.png" alt="Generic placeholder image" width="120" height="120">
          <h3>フィードバックが<br>もらえる！</h3>
          <p class="about-feedback">
            これはサービス開発者専用のSNSなので、<br>同じ立場である開発者の方々からより多くの意見をもらいやすくなっています。<br>互いにサービスをブラッシュアップし、<br>より良いサービスを作りましょう！
          </p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/ideaman.png" alt="Generic placeholder image" width="120" height="120">
          <h3>他のサービスを知ることが<br>できる！</h3>
          <p class="about-idea">他の開発者がどのようなサービスを<br>作ったのか知ることが出来ます。<br>他のサービスを知ることでこれからの<br>あなたの開発にも何か活かせる<br>かもしれません。</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="/connect.png" alt="Generic placeholder image" width="120" height="120">
          <h3>もっと繋がれる！</h3>
          <p class="about-text">ここでは熱意を持ってプログラミングに取り組んでいる人、開発が大好きで仕方がないというような人が多くいます。Creatterで互いを高め合えるような仲間と出会いましょう！</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <hr class="featurette-divider">

      <div class="container marketing text-center">
        <u><h2>今すぐ始める</h2></u>
        <p>Twitterと連動させると、より多くの人から意見をもらいやすくなり、あなたのサービスを認知してもらえるかもしれません。</p>
        <p><a class="btn btn-info now" href="#" role="button">Twitterで新規登録/ログイン</a></p>
        <p><a class="btn btn-success now" href="#" role="button">Creatterで新規登録</a></p>
      </div>
      <hr class="featurette-divider">

      <footer>
        <p>&copy; 2018 Creatter ALL RIGHTS RESERVED. created by <a href="https://twitter.com/puremoru0315">@puremoru0315</a><br>
           &middot; <a href="#">プライバシーポリシー</a>
      </footer>

    </div><!-- /.container -->
