<h3 class="text-center index-comment">コメント</h3>
<div class="comment-list">
  <ul class="list-group">
    <% @comments.each do |comment| %>
      <li class="list-group-item">
        <img class="comment-user-img" src="<%= "#{comment.user.image_url}" %>">
        <%= link_to("#{comment.user.nickname}", "/users/#{comment.user.id}") %><br>
        <div class="comment-text">
          <%= simple_format(comment.content) %>
        </div>
        <% if current_user && comment.user_id == current_user.id %>
          <div class="text-right">
            <%= link_to( "コメントを削除する", "/posts/#{@post.id}/comments/#{comment.id}/destroy", method: :post )%>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
