// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form{
  margin-top: 2em;
}

.new-divider{
  margin-top:2em;
  color: black;
}

.input-form{
  margin-left: 21%;
  width: 60%;
}

h1{
  margin-top: 2em;
}

label{
  margin-top: 2em;
  color: #00F9A9;
}
