// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
  background-color: #B0E0E6;
}

.form{
  margin-top: 2em;
}

.new-divider{
  margin-top:2em;
  color: black;
}

.input-form{
  margin-left: 23%;
  width: 60%;
}

input{
  border: solid #808000;
}

h1{
  margin-top: 2em;
}

// label{
//   .service{
//     margin-top: 2em;
//     color: #00F9A9;
//   }
//   .index-name{
//     color: #00F9A9;
//   }
// }

.service{
  margin-top: 2em;
  color: #696969;
}

.index-name{
  // color: #00F9A9;
  margin-left: 1em;
  margin-top: 1em;
 }

.must-input{
  margin-left: 1em;
  background-color: red;
  color: white;
}

#submit-button{
  margin-top: 3em;
}

.post-card{
  margin-bottom: 2em;
}

.card-block{
  // border-radius: 10px;
  border-radius: 13px;
  border: solid black;
  background-color: white;
  height: 20%;
}

.post-about{
  // margin-left: 1em;
  // margin-right: 1em;
  margin: 1em;
}

#index-h1{
  margin-bottom: 1em;
  font-family: sans-serif;
}
