// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
  background-color: #B0E0E6;
}

.form{
  margin-top: 2em;
}

.new-divider{
  margin-top:2em;
  color: black;
}

.input-form{
  // margin-left: 20%;
  // width: 80%;
}

input{
  // border: solid #808000;
}

h1{
  margin-top: 4em;
}

// label{
//   .service{
//     margin-top: 2em;
//     color: #00F9A9;
//   }
//   .index-name{
//     color: #00F9A9;
//   }
// }

.service{
  margin-top: 2em;
  color: #696969;
}

.index-name{
  // color: #00F9A9;
  margin-left: 1em;
  margin-top: 1em;
 }

.must-input{
  margin-left: 1em;
  background-color: red;
  color: white;
}

#submit-button{
  margin-top: 3em;
}

.post-card{
  margin-bottom: 2em;
}

.card-block{
  // border-radius: 10px;
  border-radius: 13px;
  border: solid black;
  background-color: white;
  height: auto;
}

.post-about{
  margin-left: 1em;
  margin-right: 1em;
}

#index-h1{
  margin-top: 2em;
  margin-bottom: 1em;
  font-family: sans-serif;
}

.service-post{
  margin-top: 2em;
}

input.form-control{
  border-radius: 13px;
  border: solid black;
}

textarea.form-control{
  border-radius: 13px;
  border: solid black;
}

.link-show{
  text-align: right;
  margin-right: 1.5em;
  margin-bottom: 1em;
}

// /posts/:id
#post-show{
  margin-top: 4.5em;
}

#name-show{
  margin-top: 0.5em;
}

.show-url{
  margin-left: 6em;
}

.index-user-img{
  width:3em;
  margin-top: 1em;
  margin-left: 1em;
  border-radius: 3em;
  border: solid black;
}

.user-img{
  width: 4em;
  margin-left: 1em;
  margin-bottom: 1em;
  border-radius: 4em;
  border: solid black;
}

.index-user-name{
  font-size:1.2em;
  color: #000080;
}

.user-name{
  margin-left: 0.7em;
  font-size: 1.5em;
}

.show-about{
  margin-top: 1em;
  margin-left: 6em;
}

.show-abouttext{
  margin-left: 6em;
  margin-right: 1em;
}

.show-strength{
  margin-left: 6em;
}

.show-strengthtext{
  margin-left: 6em;
  margin-bottom: 1em;
  margin-right: 1em;
}

// コメント一覧のcss
ul.list-group{
  border-radius: 7px;
  border: solid black;
}

.comment-user-img{
  width: 3em;
  border-radius: 3em;
  border: solid black;
}

.comment-text{
  margin-top: 1em;
}

hr.like-divide{
  border-color: black;
  // padding-bottom: 2em;
}

.likes-form{
  padding-bottom: 1em;
}

.likes-count{
  color: #FF0033;
  margin-right: 1.5em;
}

.index-comment{
  margin-top: 1.5em;
}

.stars-count{
  color: #FFCC00;
}

.likes-count-2{
  margin-right: 1.5em;
}

.star-img{
  margin-left: 1.5em;
}

.edit-link{
  margin-right: 2em;
}

.destroy-link{
  padding-left: 1em;
}

.show-catchcopy{
  margin-left: 4.6em;
  margin-bottom: 1em;
}

.service-image{
  width: 50%;
  height: 50%;
}

.show-comment{
  margin-bottom: 1em;
}

.comment-icon{
  padding-left: 0.5em;
  width: 1.7em;
}

.likes-icon{
  padding-left: 0.5em;
  width: 1.7em;
}

.stars-icon{
  padding-left: 0.5em;
  width: 1.7em;
}

.likes-count-index{
  color: #FF0033;
  padding-right: 0.5em;
}

.stars-count-index{
  color: #FFCC00;
  padding-right: 0.5em;
}

@media only screen and (max-device-width: 640px) {
  .eyecatch-img{
    width: 90%;
    height: auto;
    margin-bottom: 2em;
    border-radius: 13px;
  }
  .line-explanation{
    font-size: 20px;
    color: #00CCCC;
  }
}

@media only screen and (min-device-width: 641px) {
  .eyecatch-img{
    width: 70%;
    height: auto;
    margin-bottom: 2em;
    border-radius: 13px;
  }
  .line-explanation{
    font-size: 30px;
    color: #00CCCC;
  }
}

.eyecatch-img-show{
  width: 95%;
  height: auto;
  margin-bottom: 2em;
  border-radius: 13px;
}

.use-btn{
  margin-top: 1em;
}
